/*base.html design codes*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #d9dbff;
}
#navbar {
    width: 1440px;
    height: 45px;
    border-radius: 3px;
    background-color: whitesmoke;
    position: aboslute;
}
#home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}
#homebtn {
    width: 120px;
    height: 45px;
    margin-top: 7px;
    padding-left: 5px;
    background-color: #e8b7d2;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#homebtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#about {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
#aboutbtn {
    width: 80px;
    height: 45px;
    margin-right: 8px;
    background-color: #ddc6e0;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#aboutbtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#calculator {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}
#calculatorbtn {
    width: 110px;
    height: 45px;
    padding-left: 5px;
    background-color: #d9dbff;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#calculatorbtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#dictionary {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}
#dictionarybtn {
    width: 110px;
    height: 45px;
    padding-left: 5px;
    background-color: #d5d1eb;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#dictionarybtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#quiz {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}
#mediabtn {
    width: 72px;
    height: 45px;
    padding-left: 5px;
    background-color: #e8e4f5;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#mediabtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#register {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: black;
    font-size: 20px;
}
#registerbtn {
    width: 83px;
    height: 45px;
    padding-left: 5px;
    background-color: #ebd3f1;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: inset 0 0 0 white ;
    transition: ease-out 0.2s;
    outline: none;
    color: black;
}
#registerbtn:hover {
    box-shadow: inset 300px 0 0 0 #b3e9d2;
    cursor: pointer;
    color: black;
}
#string {
    width: 140px;
    height: 40px;
    background-color: #e8b7d2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 40px;
    margin-right: 10px;
}
/*register.html design codes*/
#container1 {
    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 25px;
    margin-left: 400px;
    scroll-padding-top: 100px;
    margin-top: 100px;

}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-left: 180px;
    padding-top: 70px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    
}
#form {
    margin-left: 600px;
    margin-top: 50px;
    background-color: #d5d1eb;
    width: 250px;
    height: 550px;
    border-color: black;
    box-shadow: 10px 5px 5px gray;  
    border-radius: 15px; 
    padding-top: 10px;
}
#msg {
    color: red;
}
#submitbtn {
    background-color: #b3e9d2;
    border-radius: 10px;
    border-style: dashed;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 #cddbf4;
}
#submitbtn:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #e8b7d2;
    color: white;
}
/*dictionary.html design codes*/
#savings {
   margin-top: 50px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 550px;
}
h2 {
    font-weight: bold;
    font-size: 40px;
}
#desc {
    width: 1400px;
    height: 120px;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10.5px;
    border-color: #b3e9d2;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
}
#finance {
    width: 600px;
    height: 800px;
    background-color: whitesmoke;
    border-style: double;
    border-color: #e8b7d2;
    border-width: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
} 
h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 8px;
    padding-left: 5px;
}
#section1 {
    height: 1200px;
    width: 700px;
    background-color: #d9dbff;
    position: relative;
}
#saving {
    background-color: whitesmoke;
    width: 600px;
    height: 800px;
    margin-left: 750px;
    margin-top: 20px;
    border-style: double;
    border-color: #cddbf4;
    border-width: 5px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}
#savingsicon {
    width: 230px;
    height: 170px;
    margin-left: 150px;
}
#stocksicon {
    width: 200px;
    height: 170px;
    border-radius: 20px;
    margin-left: 180px;
}
#investingicon {
    width: 200px;
    height: 170px;
    border-radius: 20px;
    margin-left: 180px;
    margin-top: 8px;
}
/*calculator.html design codes*/
#svc {
    margin-top: 200px ;
    margin-left: 450px;
    background-color: #dbbae5;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: #b3e9d2;
}
#savingcalc {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e8b7d2;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    box-shadow: inset 0 0 0 white;
    transition: ease-out 0.3s;
}
#savingcalc:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #ddc6e0;
}
#goalcalc {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dbff;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    box-shadow: inset 0 0 0 white;
    transition: ease-out 0.3s;
}
#goalcalc:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #ddc6e0;
}
/*register.html design codes*/
#registerdiv {
    width: 300px;
    height: 340px;
    background-color: #b3e9d2;
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 550px;
}
#registersubmitbtn {
    width: 80px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    margin-top: 20px;
    box-shadow: inset 0 0 0 white;
    transition: ease-out 0.3s;
}
#registersubmitbtn:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #ddc6e0;
}
/*about.html design codes*/
#abtcontainer {
    width: 800px;
    height: 400px;
    background-color: #cddbf4;
    margin-top: 120px;
    border-radius: 15px;
    border-width: 7px;
    border-style: double;
    border-color: #e8e4f5;
    margin-left: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10px;
}
#sct1 {
    height: 800px;
    background-color: #d5d1eb;
    padding-top: 50px;
}
#abtuscontainer {
    width: 600px;
    height: 280px;
    background-color: #e8b7d2;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: #e8e4f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 400px;
    margin-left: 400px;
}
#sct2 {
    height: 600px;
}
/*quiz.html design codes*/
#quizcontainer {
    width: 500px;
    height: 300px;
    background-color: #b3e9d2;
    border-radius: 10px;
    border-style: double;
    border-width: 6px;
    border-color: #e8b7d2;
    margin-top: 200px;
    margin-left: 450px;
}
/*result.html design codes*/
#resultcontainer {
    width: 350px;
    height: 260px;
    background-color: #e8e4f5;
    border-radius: 10px;
    border-style: double;
    border-width: 6px;
    border-color: white;
    margin-top: 200px;
    margin-left: 500px;
}
