<!DOCTYPE html>
{% extends 'base.html'%}

{% block title %}about{% endblock %}

{% block head%}{% endblock%}

{% block name %}{{name}}{% endblock %}

{% block body%}
<div id="abtcontainer">
    <h4>About MoneyMinds</h4>
    <p>MoneyMinds is an easy-to-access website where adolescents can begin to learn and engage in finance. There are three main tools provided in this website: </p>
    <ul>
        1. Calculator: Either the 'Savings Calculator' which calculates how much the user will save in a period of time, or the 'Goal Calculator' which calculates how much the user will have the save per month to achieve a goal. The 'Savings Calculator' also has the option for the user to input the annual interest rate of the preferred bank if the user wishes to save the money in a bank. Therefore, the calculator will then calculate how much the user will save in a period of time taking the annual interest rate of the bank into account. 
    </ul>
    <ul>
        2. Dictionary: This page of the website teach users about finance, as well as its key terms, in easy terms. 
    </ul>
    <ul>
        3. Quiz: This page of the website tests the users' understandings of finance, in a quick, yet fun way- through a K
    </ul>
</div>
{% endblock%}

