<!DOCTYPE html>
{% extends 'base.html'%}

{% block title %}calculator{% endblock %}

{% block head%}{% endblock%}

{% block body%}
<div id="svc">
<a href="form">
    <button class="savingcalc" id="savingcalc">
        Savings Calculator
    </button> 
</a>

<p>*This calculates how much you will save in period of time.</p>

<a href="goalform">
    <button class="goalcalc" id="goalcalc">Goal Calculator</button>
</a>

<p>*This calculates how much you will have to save per month in order to achieve the goal.</p>
</div>
{% endblock%}
