<!DOCTYPE html>
{% extends 'base.html'%}

{% block title %}Dictionary{% endblock %}
{% block title %}Dictionary{% endblock %}

{% block head%}
<div id="section1">
    <br>
    <div id="desc">
        <h3>Dictionary ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</h3>
        <p>A tab to teach you about finance- in simpler terms! </p>
    </div>
    <div id="finance">
        <h4>1. What is finance? ━━━━━━━━━━━━</h4>
        <p>Finance is the big concept including: </p>
        <ul>
            ○ Study of money
        </ul>
        <ul>
            ○ Savings
        </ul>
        <ul>
            ○ Banking
        </ul>
        <ul>
            ○ Stocks
        </ul>
        <ul>
            ○ And more!
        </ul>
        <br>
        <p>┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅┅</p>
        <h4> 3. What are stocks?  ━━━━━━━━━━━━</h4>
    <p></p>
    </div>
    <div id="savings">
        <h4>2. What are savings? ━━━━━━━━━━━━</h4>
        <p>Saving is collecting a sum of money over a period of time without spending. This is done to achieve an end goal, such as buying a car or a house. </p>
    </div>
</div>
<div id="section2"> 

</div>


{% endblock%}

{% block body%}{% endblock%}

