<!DOCTYPE html>
{% extends 'base.html'%}

{% block title %}Dictionary{% endblock %}

{% block head%}

<div id="desc">
    <h3>Dictionary ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</h3>
    <p>A tab to teach you about finance- in simpler terms! </p>
</div>
<div id="finance">
    <h4>1. What is finance? ━━━━━━━━━</h4>
    <p>Finance is the big concept including: </p>
    <ul>
        ○ Study of money
    </ul>
    <ul>
        ○ Savings
    </ul>
    <ul>
        ○ Banking
    </ul>
    <ul>
        ○ Stocks
    </ul>
    <ul>
        ○ And more!
    </ul>
</div>
<div id="savings">
    <h4>2. What are savings? ━━━━━━━━</h4>
    <p> Saving is the process of collecting money without spending for a period of time. It is often implemented to achieve an end goal.  </p>
</div>

{% endblock%}

{% block body%}{% endblock%}

